.MuiDialogActions-root {
    display: none;
}

.MuiPickersToolbar-penIconButton {
    display: none;
}

.MuiPickersToolbar-root{
    display: block;
    justify-content: center;
}

.MuiGrid-root {
    display: block;
    justify-content: center;
}