.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px; /* Adjust this value as needed */
    position: relative; /* Position relative for children with absolute position */
  }

  